* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0e0e0e;
}

/* MAIN CONTAINER */
.container {
  display: flex;
  height: 100vh;
}

/* LEFT SIDE */
.left {
  flex: 1;
  background: linear-gradient(135deg, #39c5a3, #2fb79c);
  color: white;
  position: relative;
  overflow: hidden;
}

/* TEXT CONTENT */
.content {
  position: relative;
  z-index: 2;
  padding: 60px;
  margin-top: 150px;
}

.content h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.content p {
  font-size: 14px;
}

/* DOT IMAGES */
.bg-top {
  position: absolute;
  
  left: 0;
  width: 400px;   /* 👈 adjust size */
  opacity: 1;
  z-index: 1;
  padding: 20px;
}

.bg-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 490px;   /* 👈 adjust size  */
  opacity: 1;
  z-index: 1;
}

/* RIGHT SIDE */
.right {
  flex: 1;
  background: #fff;
  padding: 60px;
  text-align: center;
}

/* LOGO */
.logo {
  width: 100px;
  margin-bottom: 20px;
}

/* TEXT */
.right h2 {
  margin-bottom: 20px;
  color: #333;
}

/* INPUT */
.right input {
  width: 80%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* BUTTON */
.right button {
  width: 80%;
  padding: 10px;
  background: #39c5a3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.right button:hover {
  background: #2fb79c;
  transform: scale(1.05);
}

.right button:active {
  transform: scale(0.98);
}